<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error - Page Not Found</title>
    <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
    <style>
        @import url('https://fonts.googleapis.com/css?family=poppins:100,200,300,400,500,600,700,800,900');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    background: linear-gradient( 45deg,#8500ff,#5acaff);
    height: 100vh;
}
#container{
    position: absolute;
    top: 2%;
    left: 10%;
    right: 10%;
    bottom: 3%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background:url('../img/404.jpeg') #151729;
    box-shadow: 0 15px 30px rgba(0,0,0,.5);
}
#container .content{
    max-width: 600px;
    text-align: center;
}
#container .content h1{
    font-size: 18vw;
    color: white;
    line-height: 1em;
}
#container .content h4{
    position: relative;
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #111;
    background: white;
    font-weight: 300;
    padding: 7px 20px;
    display: inline-block;
}
#container .content p{
    color: white;
    font-size: 1.2em;
}
#container .content a{
    position: relative;
    display: inline-block;
    padding: 10px 25px;
    background:#ff0562;
    color: white;
    text-decoration: none;
    margin-top: 25px;
    border-radius: 25px;
    border-bottom: 4px solid #d00d56;
}
#container .content h3{
    font-size: 18vw;
    color: white;
    line-height: 1em;
    margin-left: -40px;
}
    </style>
</head>

<body>
    <div id="container">
        <div class="content">
            <h3>Error</h3>
            <h1>404</h1>
            <h4>Oops! Page not found</h4>
            <p>We can't find the page you're looking for.</p>
            <a href="/">Back To Home</a>
        </div>
        </div>
    </div>
</body>

</html>