<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/hospital/register" method="post">
    <input type="text" name="id" placeholder="hospital id" value="123">
    <input type="password" name="password" placeholder="hospital password" value="123"> 
    <input type="text" name="name" placeholder="hospital name" value="123">

    <input type="number" name="rec" placeholder="recovered" value="123">
    <input type="number" name="pre" placeholder="present" value="123">
    <input type="number" name="beds_vac" placeholder="beds vacant" value="123">
    <input type="number" name="beds_pre" placeholder="beds present" value="123">
    <input type="number" name="em_beds_vacan" placeholder="em_beds_vacan" value="123">
    <input type="number" name="em_beds_pre" placeholder="em_beds_pre" value="123">
    <input type="text" name="covid_test" placeholder="covid_test" value="123">
    <input type="text" name="vaccination" placeholder="vaccination" value="123">

    <input type="number" name="oxy_req" placeholder="oxy_req" value="123">
    <input type="number" name="oxy_av" placeholder="oxy_av" value="123">
    <input type="text" name="address" placeholder="address" required value="123">
    <button type="submit">submit</button>
    </form>
</body>
</html>