<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bet Allotment | HelpVu</title>
    <link href='../css/bed_allotment2.css' rel='stylesheet' />
</head>
<body>
    <main>
        <div class="heading"><h2>your allotted Bed:</h2></div>
        <div class="detail"><p>
            sorry to inform you that there is no vacant bed in the hospitals
            of your area :(
        </p></div>
        <div class="container">
            <h2 class="important">!!IMPORTANT!!</h2>
            <p class="para">In that case stay at home and take advice from your family   doctor or any local doctor near by you to get proper medicine. Make social distancing from other including your family member.
            continously login to this site beacusa if any bed get free in hospital then it reflect to you.
            But in emergency cases like so much diffculty in breathing or any critical issue <span class="important_span">directly contact to any nearby hospital in which emergency bed is vacant.(go and check status where you get the data of vacant bed in hospital if any)</span>
        </p></div>
        <footer>
            <button class="log_out">log out</button>
        </footer>
    </main>
</body>
</html>