* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://revcycleintelligence.com/images/site/article_headers/_normal/hospital%2C_green.jpg);
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
    margin-top: 40px;
    background-repeat: repeat-x;
}

.regform {
    width: 800px;
    background-color: red;
    margin: auto;
    color: rgb(248, 240, 240);
    padding: 10px 0px 10px opx;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
}

.main {
    background-color: rgb(0, 0, 0, 0.5);
    width: 800px;
    margin: auto;
}

form {
    padding: 10px;
    padding-block-end: 47px;
}

#name {
    width: 100%;
    height: 75px;
}

.name {
    margin-left: 25px;
    margin-top: 30px;
    width: 125px;
    color: white;
    font-size: 18px;
    font-weight: 800;

}

.butt {
    position: relative;
    left: 200px;
    top: -27px;
    line-height: 30px;
    border-radius: 12px;
    border: 2px solid black;
    padding: 0 22px;
    font-size: 16px;
}

.number {
    position: relative;
    left: 200px;
    top: -27px;
    line-height: 30px;
    border-radius: 12px;
    border: 2px solid black;
    padding: 0 22px;
    font-size: 16px;
}

.email {
    position: relative;
    left: 200px;
    top: -27px;
    line-height: 30px;
    border-radius: 12px;
    border: 2px solid black;
    padding: 0 25px;
    font-size: 16px;
}

.address {
    position: relative;
    left: 200px;
    top: -27px;
    line-height: 30px;
    border-radius: 12px;
    border: 2px solid black;
    padding: 0 25px;
    font-size: 16px;
}

.report {
    position: relative;
    left: 200px;
    top: -27px;
    line-height: 30px;
    border-radius: 12px;
    border: 2px solid black;
    padding: 0 -3px;
    font-size: 16px;
}

button {
    /* color: rgb(255, 8, 0);
    margin-left: 380px;
    background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
    border: 2px solid black;
    border-radius: 4px;
    /* background-color: blue; */
    /* padding: 7px; */

    position: relative;
    align-self: center;
    order: 1;
    display: inline-block;
    height: 2.5rem;
    width: 6rem;
    background-color: #5c4f6f;
    border-radius: 0.5rem;
    top: 30px;
    left: -2rem;
    cursor: pointer;

}
.log_out{
    cursor: pointer;
    width:156px;
    height:52px;
    margin-left: 70rem;
    border-radius: 10px;
    font-size: 1.2rem;
    background-color: blue;
    color:white;
    margin-bottom: 5rem;
    margin-top: 2.5rem;
}
.log_out:hover{
    border:3px solid black;
    text-shadow: 3px 3px black;
}