* {
    margin: 0;
    padding: 0;
}
#navbar{
    display: flex;
    align-items: center;
    position: relative;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}

#logo{
    margin: 2px 2px;
    padding: 2px 2px;
}

#logo img{
    margin: 10px 2px;
    padding: 2px 2px;
    height: 50px;
    width: 50px;
}

#navbar ul{
    display: flex;
    margin: 10px 28px;
}

#navbar ul li{
    list-style: none;
    font-size: 1.2rem;

}

#navbar ul li a{
    font-family: 'Balsamiq Sans', cursive;
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    margin: 2px 14px;
    padding: 2px 18px;
}

#navbar ul li a:hover{
    color: black;
    background-color :white;
}
*{
    color:rgb(190, 82, 48)
}