*{
    margin: 0;
    padding: 0;
    }
    /*  */

    .container{ 
    color: white;
    position: absolute;
    top: 22%;
    left: 39%; 
    }
    
    .container h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 50%;
    display: inline-block;
    font-size: 37px;
    border-bottom: 5px solid purple;
    margin-bottom: 13px;
    padding: 13px 0;
    }
    .box{
    width: 100%; 
    margin: 26px 21px;
    border-bottom: 2px solid purple;
    }
    .box input{  
    background: none;
    width: 75%;
    padding: 5px 10px;
    font-size: 22px;
    border: none;
    outline:none;
    color: white;
    }
    .box i{ 
    width: 25px; 
    text-align: center;
    }
    .btn{
        color: white;
        cursor: pointer;
        outline: none;
        margin: 12px 0;
        padding: 10px 21px;
        border: 2px solid purple;
        border-radius: 10px;
        font-size: 14px;
        background: none;
        font-weight: bold;
    }
    
    .btn:hover{
    opacity: 0.5;
    color: purple; 
    background: white; 
    }
    #navbar{
        display: flex;
        align-items: center;
        position: relative;
    }
    
    #navbar::before{
        content: "";
        background-color: black;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
        opacity: 0.9;
    }
    
    #logo{
        margin: 2px 2px;
        padding: 2px 2px;
    }
    
    #logo img{
        margin: 10px 2px;
        padding: 2px 2px;
        height: 50px;
        width: 50px;
    }
    
    #navbar ul{
        display: flex;
        margin: 10px 28px;
    }
    
    #navbar ul li{
        list-style: none;
        font-size: 1.2rem;
    
    }
    
    #navbar ul li a{
        font-family: 'Balsamiq Sans', cursive;
        color: white;
        display: block;
        padding: 10px;
        text-decoration: none;
        border-radius: 10px;
        margin: 2px 14px;
        padding: 2px 18px;
    }
    
    #navbar ul li a:hover{
        color: black;
        background-color :white;
    }
    .login_button{
        background-color: rgba(128, 128, 128, 0.555);
        color: cornsilk;
        width:50px;
        height:30px;
        padding:5px;
        border-radius: 5px;
        border: 2px solid purple;
    }
    body::before {
        content: "";
        background: url(../img/ars.jpeg);
        left: 0%;
        top: 0%;
        background-repeat: no-repeat;
        /* background-position:center -2.5em; */
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.9;
        z-index: -1;
    }
    .last{
        word-spacing: 7px;
        text-align: center;
    }
    .login_button:hover{
        border: 3px solid blue;
    }
    #sign_up{
        width: 80px;
    }